<%= form_for [:admin, @category] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>

<% @categories.each do |category| %>
  <ul>
    <li><%= category.name %></li>
  </ul>
<% end %>
